.final-section {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 10; // LOWER than overlay & cube
}

.final-section__svg {
  width: 100%;
  height: 100%;
}

.final-section__path {
  fill: #ebe1fc;
}