.footer {
    width: 100%;
    height: 50vh;
    /* Fixed height block at the end of the scroll track */
    background-color: #3e19f6;
    /* Matching the FinalSection background */
    position: relative;
    z-index: 10;
    display: block;
}