.liquid-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.liquid-wrapper__defs {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.liquid-wrapper__content {
    width: 100%;
    height: 100%;

    filter: url(#liquid-distortion-filter);

    transform: translateZ(0);
    will-change: filter;
}