/* =========================================================
   Liquid Distortion Wrapper
   ========================================================= */

.liquid-distortion {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------
   Hidden SVG definitions
   --------------------------------------------------------- */

.liquid-distortion__defs {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: -1;
}

/* ---------------------------------------------------------
   Filtered content
   --------------------------------------------------------- */

.liquid-distortion__content {
    width: 100%;
    height: 100%;

    /* Apply SVG filter */
    filter: url(#liquid-distortion-filter);

    /* GPU hint */
    transform: translate3d(0, 0, 0);
    will-change: filter;
}